@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYekanBold";
  src: url("../../public/fonts/IRANYekanBold.woff") format("truetype");
}

@font-face {
  font-family: "IRANYekanBold";
  src: url("../../public/fonts/IRANYekanBold.woff2") format("truetype");
}
@font-face {
  font-family: "IRANYekanRegular";
  src: url("../../public/fonts/IRANYekanRegular.woff") format("truetype");
}
@font-face {
  font-family: "IRANYekanRegular";
  src: url("../../public/fonts/IRANYekanRegular.woff2") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "IRANYekanRegular" !important;
}
